{% extends "layout/base.html.jinja" %}

<title>{% block title %}Create New Event{% endblock %}</title>

{% block content %}

<h1><span>Nieuw Evenement</span></h1>

{# form action = stay on the same page #} {# event form = we need to 'post' the
data from this page, then we can get the information and display the 'details'
#}

{# Form for creating a new event #}

<form
  action="#"
  method="POST"
  onsubmit="alert('Nieuw Evenement Aangemaakt!'); return false"
  class="form"
>
  <div class="form-group pb-4">
    <input type="text" name="event" placeholder="Naam Evenement: " /
    class="form-control">
  </div>

  <div class="form-group pb-4">
    <input
      type="date"
      name="date"
      placeholder="Datum Evenement: "
      class="form-control"
    />
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Locatie:</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Kies...</option>
      <option value="1">Amsterdam</option>
      <option value="2">Rotterdam</option>
      <option value="3">Den Haag</option>
    </select>
  </div>

  <div class="form-group pb-4">
    <label for="time">Tijd</label>
    <input type="time" name="time" placeholder="Tijd: " />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="event_category"
      placeholder="Event Categorie: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="phone_number"
      placeholder="Telefoon: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="email"
      placeholder="E-mail: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input type="submit" value="Opslaan" class="btn btn--dark" />
  </div>

  {# // Code for setting up the form with the right data. #} {#
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  #} {% endblock content %}
</form>
