{% extends "layout/base.html.jinja" %} 

{% block title%}Event Details Page{% endblock %}

{% block content %}
<body>
    <div class="content_header">
        <a class="return_events" href="{{url_for('event')}}">
            << Alle Evenementen
        </a>
        <h6 class="event_status">Dit evenement is voorbij.</h6>
        <hr class="hor_line">
        <h1 class="event_title">LaCo Ronde 5 Heren en Dames</h1>
    </div>

    <div class="content_body">
        <div class="details">
            <div class="event-header">
                <h1 class="event-name">Evenement: {{ event.name }}</h1>
                <h3>Evenement gegevens</h3>
            </div>

            <!-- Using the flask wtforms to display on FE and get the info from BE -->
            <div class="event-details">
                <p> Datum: {{ event.date }} </p>
                <p> Tijd: {{ event.time }} </p>
                <p> Leeftijd: {{ event.age }} </p>
                <p> Omschrijving: </p>
                <p class="event-description">
                    {{ event.desc }}    
                </p>
            </div>
            <div class="location">
                <h3>Locatie</h3>
                <p>
                    Brunet <br>
                    Kampenweg 7 <br>
                    Almere, 1324SB <br><br>
                    Telefoon: <br>
                    06-32135421
                </p>
            </div>
        </div>
    </div>

<style>
    .event-header {
        margin-top: 2rem;
    }

    .event-name {
        margin-bottom: 1rem;
    }

    .event-details {
        margin-bottom: 4rem;
    }
</style>

{% endblock %}

{% block script %}
{# insert pagesprecific javascript here #}
{% endblock %}
