 {% extends "layout/widgetless.html.jinja" %}

 {% block title %}Event Page{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div>
          <section class="widgets">

        {%for event in events %}
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{event.name}}  </h5>
                <p class="card-text">  {{event.date}} </p>
                <a href= "/events/location/detail/{{event.id}}" class="btn btn--dark">Zie details</a>
              </div>
            </div>
          </div>
          {%endfor%}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{# insert pagesprecific javascript here #}
{% endblock %}
