{% extends "layout/base.html.jinja" %}

<title>{% block title %}Create New Event{% endblock %}</title>

{% block content %}

<h1 class="mb-4">Nieuw Evenement</h1>

{# form action = stay on the same page #} {# event form = we need to 'post' the
data from this page, then we can get the information and display the 'details'
#}

  <div class="form-group pb-4">
    <input id="event_name" type="text" name="event" placeholder="Naam Evenement: " /
    class="form-control">
  </div>

  <div class="form-group pb-4">
    <input
      id="event_date"
      type="date"
      name="date"
      placeholder="Datum Evenement: "
      class="form-control"
    />
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Locatie:</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Kies...</option>
      <option value="1">Amsterdam</option>
      <option value="2">Rotterdam</option>
      <option value="3">Den Haag</option>
    </select>
  </div>

  <div class="form-group pb-4">
    <label for="time">Tijd</label>
    <input id="event_time" type="time" name="time" placeholder="Tijd: " />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="event_category"
      placeholder="Event Categorie: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input
      id="event_desc"
      type="text"
      name="desc"
      placeholder="Beschrijving: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="phone_number"
      placeholder="Telefoon: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input
      type="text"
      name="email"
      placeholder="E-mail: "
      class="form-control"
    />
  </div>

  <div class="form-group pb-4">
    <input id="submit_event" type="submit" value="Opslaan" class="btn btn--dark" />
  </div>

<script>
  function post_succes() {
    alert("Evenement aangemaakt!");
    window.location.href = "/";
  };

  $('#submit_event').click(function() {
    var name = $("#event_name").val();
    var date = $("#event_date").val();
    var time = $("#event_time").val();
    var desc = $("#event_desc").val();
    var age = 18

    event_data = {
      name,
      date,
      time,
      desc,
      age,
    };

    console.log(JSON.stringify(event_data))

    $.ajax({
      type: "POST",
      url: "/api/v2/almere/events/" + event_name,
      data: JSON.stringify(event_data),
      success: post_succes(),
      dataType: "JSON"
    });
  });
</script>

{# // Code for setting up the form with the right data. #} {#
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
#} {% endblock content %}
