 {% extends "layout/base.html.jinja" %}

 {% block title %} {# insert pagetitle #} {% endblock %}

{% block content %}
{{name.event}}
{% endblock %}

{% block script %}
{# insert pagesprecific javascript here #}
{% endblock %}
