<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Nieuw Evenement</title>
    <link rel="stylesheet" href="/static/styles/style.css" />

</head>

<body>
    <h1><span>Nieuw Evenement</span></h1>
    <form action="http://127.0.0.1:5500/templates/form.html" mehtods="POST"
        onsubmit="alert('Nieuw Evenement Aangemaakt!'); return false">
        Naam Evenement: <input type="text" name="event"><br><br>
        Datum Evenement: <input type="text" name="date"><br><br>
        Categorie Evenement: <input type="text" name="categorie"><br><br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Locatie Evenement</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Kies...</option>
                <option value="1">Amsterdam</option>
                <option value="2">Rotterdam</option>
                <option value="3">Den Haag</option>
            </select>
        </div><br><br>
        Naam Eigenaar: <input type="text" name="naam"><br><br>
        Telefoon: <input type="text" name="telefoon"><br><br>
        E-mail: <input type="text" name="email"><br><br>
        <input type="submit" value="submit">
    </form>
</body>

</html>