<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Web Page</title>
    <link rel="stylesheet" href="dartsbond_almere-medium-rare-chicken/static/styles/style.css" />
</head>

<body>
    <a href="https://dartsbondalmere.nl/evenementen/">
        << Alle Evenementen</a>
            <h1>{NAAM EVENEMENT}</h1>
            <h3>Gegevens</h3>
            <div class="details">
                <p>
                    <!-- Using the flask wtforms to display on FE and get the info from BE -->
                    Datum:
                    <br><br>
                    Tijd:
                    <br><br>
                    Evenement Categorie:
                    <br><br>
                </p>
            </div>
            <div class="location">
                <h3>Location</h3>
            </div>
</body>

</html>