{# This file serves as an example! this page isn't used anywhere #}
 {% extends "layout/widgetless.html.jinja" %}

 {% block title %} {# insert pagetitle #} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LaCo Ronde 5 Heren en Dames</h5>
        <p class="card-text">11 december, 13:00 - 18:00</p>
        <a href="{{url_for('location_detail')}}" class="btn btn--dark">Zie details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LaCo Ronde 5 Heren en Dames</h5>
        <p class="card-text">11 december, 13:00 - 18:00</p>
        <a href="{{url_for('location_detail')}}" class="btn btn--dark">Zie details</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{# insert pagesprecific javascript here #}
{% endblock %}
