{# This file serves as an example! this page isn't used anywhere #}
 {% extends "layout/base.html.jinja" %}

{% block content %}
{# place content here  #}
{% endblock content %}

{% block script %}
{# insert pagesprecific javascript here #}
{% endblock content %}
