<!-- <h1><span>New Event Form</span></h1>
<form onsubmit="alert('New Event Created!');return false">
    Name Event: <input type="text" name="event"><br><br>
    Date Event: <input type="text" name="date"><br><br>
    Location Event: <input type="text" name="location"><br><br>
    E-mail: <input type="text" name="email"><br><br>
    <input type="submit" value="Create Event">
</form> -->

<form action="http://127.0.0.1:5500/templates/form.html" mehtods="POST">
    Name Event: <input type="text" name="event"><br><br>
    Date Event: <input type="text" name="date"><br><br>
    Location Event: <input type="text" name="location"><br><br>
    E-mail: <input type="text" name="email"><br><br>
    <input type="submit" value="Create Event">
</form>
