
 {% extends "layout/base.html.jinja" %}

{% block content %}
    <div class="container">
        <header>
            <div class="logo" style="padding-top:1em;">
                <a class="title" href="#">
                    Dartsbondalmere.nl
                </a>
                <div class="sub_title">
                    de Dartsbond voor Flevoland en omstreken
                </div>
            </div>
            <nav>
                <ul class="nav_menu">
                    <li class="nav_item_1"><a>DBA</a><ul class="drop_cont"><li>test</li><li>test2</li><li>test3</li></ul></li>
                    <li class="nav_item_2"><a>Info</a><ul class="drop_cont">test</ul></li>
                    <li class="nav_item_3"><a>Competitie</a></li>
                    <li class="nav_item_4"><a>Beker</a></li>
                    <li class="nav_item_5"><a>Ranking</a></li>
                    <li class="nav_item_6"><a>Jeugd</a></li>
                    <li class="nav_item_7"><a>LaCo</a></li>
                    <li class="nav_item_8"><a>Kampioenen</a></li>
                </ul>
            </nav>
            <div class="img_cont">
                <img class="banner" src="/static/img/banner.jpg">
            </div>
        </header>
        <section class="all_cont">
            <section class="content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consectetur possimus nihil voluptates excepturi illo similique? Cum sunt nam animi nisi vel quaerat incidunt, minima totam, earum repellat exercitationem quae.
            </section>
            <section class="widgets">
                <hr class="hor_line"><section class="widget_1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sit exercitationem dolorem omnis perspiciatis earum quos, ipsum dicta numquam atque, adipisci deleniti voluptatem animi? Corrupti praesentium consequatur incidunt iure eum.</section>
            </section>
        </section>
    </div>
{% endblock %}
</body>
</html>