{% extends "layout/base.html.jinja" %} {% block content %}
{# Homepage html jinja file, using the base.html layout in it #}
<section class="all_cont" style="padding-top:2em">
  <section class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ipsum
      sapien, maximus quis turpis nec, rutrum efficitur felis. Sed ultricies
      ante tellus, a vulputate quam tempor non. Morbi porta, sem vel elementum
      mollis, lorem purus suscipit nisi, id posuere justo ligula in justo. Ut
      Phasellus semper quis justo sed rutrum. Ipsum dolor sit amet, consectetur adipiscing elit. Nunc ipsum
      sapien, maximus quis turpis nec, rutrum efficitur felis. Sed ultricies
      ante tellus, a vulputate quam tempor non. Morbi porta, sem vel elementum
      mollis, lorem purus suscipit nisi, id posuere justo ligula in justo. Ut
      Phasellus semper quis justo sed rutrum.
    </p>
  </section>
</section>
{% endblock %}
