{% extends "layout/base.html.jinja" %} {% block content %}
{# Homepage html jinja file, using the base.html layout in it #}
<section class="all_cont" style="padding-top:2em">
  <section class="content">
    <p>
      Beste leden van de DBA,<br/>
      Hierbij wil het bestuur jullie informeren over de beslissingen die zijn genomen tijdens de laatste bestuursvergadering. Hiermee proberen wij inzicht te geven in de komende periode en hoe het bestuur er momenteel in staat.
      <br/><br/>ALV:<br/>
      De datum voor de ALV is verplaatst naar zondag 9 januari 2022 om 13:00.<br/> Dit moet helaas overdag omdat de huidige maatregelen dit afdwingen. Wij zullen proberen om digitaal bijwonen van de vergadering mogelijk te maken.
      Laptops bestuur en commissie leden:
      De laptops die in eigendom zijn van de bond en momenteel gebruikt worden zijn dusdanig verouderd dat deze niet meer werkbaar zijn. Er is besloten om 4 nieuwe aan te schaffen.
      <br/><br/>Competitie, beker en ranking:<br/>
      Het bestuur blijft van mening dat er alles aan gedaan moet worden om de competitie tot een goed einde te brengen. Er wordt goed gekeken naar hoeveel wedstrijden er nog gespeeld/ingehaald moeten worden en of dit haalbaar is in de tijd die er nog is.<br/> 
      De NDB heeft aangegeven dat de landelijke kampioenschappen uitgesteld worden tot na de zomer, wat ons meer tijd geeft dan de normale einddatum van Mei voor onze competitie en beker. Het zijn zeer leuke evenementen om te spelen tegen andere bonden en kampioenen en dat willen wij niemand ontnemen als dat niet hoeft.
      Mocht blijken dat het aantal in te halen wedstrijden per team niet meer realistisch haalbaar is, zal noodgedwongen de competitie moeten stoppen.<br/>  Er zijn nog een aantal nood ingrepen zoals bijvoorbeeld het stoppen van de beker of het spelen van een halve competitie om toch tot een kampioen te komen, maar alleen als het echt niet anders meer kan.
      Mocht de competitie niet in zijn geheel uitgespeeld kunnen worden, dan zal zoals in de bestuursmededeling van 1 juli (website), de helft van de contributie worden terugbetaald.<br/> Hopelijk is iedereen positief ingesteld dat de competitie volledig afgerond gaat kunnen worden en wedstrijden die al gespeeld zijn, en worden, creëren ruimte voor het inhalen.
      De ranking wedstrijden kunnen gespeeld worden binnen de huidige regels en kunnen doorgang vinden zoals gepland (de zaterdag avonden zullen naar zondag ochtend verplaatst worden om hieraan te blijven voldoen). Kijk altijd een dag voor de wedstrijd op de website en teambeheer of er eventuele wijzigingen zijn.
      <br/><br/>Feestdagen:<br/>
      Het bestuur wil iedereen een vrolijke, gezonde en plezierige kerst wensen en een gelukkig nieuwjaar. De omstandingheden zijn lastig maar hopelijk vindt een ieder toch wat verlichting en gezelligheid samen met vrienden en/of familie.
      Met vriendelijke groeten,
      Het bestuur van Dartsbond Almere e.o.
    </p>
  </section>
</section>
{% endblock %}
