{# <nav>
  <ul class="nav_menu">
    <li>
      <a class="nav_item" href="{{ url_for('index') }}">Home</a>
    </li>
    <li>
      <a class="nav_item" href="{{ url_for('agenda') }}">Agenda</a>
    </li>
    <li class="nav-item dropdown dropdown_item">
      <a
        class="nav-link dropdown-toggle dropdown_link"
        href="{{ url_for('event') }}"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="padding: 0"
      >
        Locatie
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item nav_item" href="{{url_for('location_detail', id=1)}}"
            >Locatie details</a
          >
        </li>
        <li>
          <a class="dropdown-item nav_item" href="{{ url_for('location_create') }}"
            >Maak locatie aan</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown dropdown_item">
      <a
        class="nav-link dropdown-toggle dropdown_link"
        href="{{ url_for('event') }}"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="padding: 0"
      >
        Evenementen
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item nav_item" href="{{ url_for('event') }}"
            >Alle evenementen</a
          >
        </li>
        <li>
          <a class="dropdown-item nav_item" href="{{ url_for('event_create') }}"
            >Maak evenement aan</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav> #}

<nav>
  <ul class="nav_menu">
    <li class="test">
      <a class="nav_item" href="{{url_for('index')}}">Home</a>
    </li>
    <li class="test">
      <a class="nav_item" href="{{url_for('agenda')}}">Agenda</a>
    </li>
    <li class="test">
      <ul class="nav_subitem"><li><a class="nice_link" href="{{url_for('location_create')}}">Aanmaken</a></li></ul>
      <a class="nav_item" href="#">Locatie</a>
    </li>
    <li class="test">
      <ul class="nav_subitem"><li><a class="nice_link" href="{{url_for('event')}}">Weergeven</a></li><li><li><a class="nice_link" href="{{url_for('event_create')}}">Aanmaken</a></li><li><a class="nice_link" href="{{url_for('edit_event')}}">Wijzigen</a></li></ul>
      <a class="nav_item" href="#">Evenementen</a>
    </li>
  </ul>
</nav>