<hr class="hor_line" />
<section class="widget_1">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit sit
    exercitationem dolorem omnis perspiciatis earum quos, ipsum dicta numquam
    atque, adipisci deleniti voluptatem animi? Corrupti praesentium consequatur
    incidunt iure eum.
  </p>
</section>
