<hr class="hor_line" />
<style>
  .tribe-events-widget-events-list__header-title {
    font-size: 24px;
    font-weight: bold;
  }
  .tribe-events-widget-events-list__event-title-link {
    color: black;
  }
</style>
<hr class="hor_line" />

<div class="tribe-compatibility-container">
  <div
    class="
      tribe-common
      tribe-events
      tribe-events-view
      tribe-events-view--widget-events-list
      tribe-events-widget
    "
    data-js="tribe-events-view"
    data-view-rest-nonce="5bc2ba7940"
    data-view-rest-url="#"
    data-view-manage-url="1"
    data-view-breakpoint-pointer="e3bd549c-5675-43d4-a57f-c45ed56e0b68"
  >
    <div class="tribe-events-widget-events-list">
      <header class="tribe-events-widget-events-list__header">
        <h2
          class="
            tribe-events-widget-events-list__header-title
            tribe-common-h6
            tribe-common-h--alt
          "
        >
          Aankomende evenementen
        </h2>
      </header>

      <div class="tribe-events-widget-events-list__events">
        <div
          class="tribe-common-g-row tribe-events-widget-events-list__event-row"
        >
          <div
            class="
              tribe-events-widget-events-list__event-date-tag
              tribe-common-g-col
            "
          >
            <time
              class="tribe-events-widget-events-list__event-date-tag-datetime"
              datetime="2021-12-11"
            >
              <span
                class="tribe-events-widget-events-list__event-date-tag-month"
              >
                dec
              </span>
              <span
                class="
                  tribe-events-widget-events-list__event-date-tag-daynum
                  tribe-common-h2
                  tribe-common-h4--min-medium
                "
              >
                11
              </span>
            </time>
          </div>

          <div
            class="
              tribe-events-widget-events-list__event-wrapper
              tribe-common-g-col
            "
          >
            <article
              class="
                tribe-events-widget-events-list__event
                post-6238
                tribe_events
                type-tribe_events
                status-publish
                hentry
                tribe_events_cat-laco
              "
            >
              <div class="tribe-events-widget-events-list__event-details">
                <header class="tribe-events-widget-events-list__event-header">
                  <div
                    class="
                      tribe-events-widget-events-list__event-datetime-wrapper
                      tribe-common-b2
                      tribe-common-b3--min-medium
                    "
                  >
                    <time
                      class="tribe-events-widget-events-list__event-datetime"
                      datetime="2021-12-11"
                    >
                      <span class="tribe-event-date-start">13:00</span> -
                      <span class="tribe-event-time">18:00</span>
                    </time>
                  </div>
                  <h3
                    class="
                      tribe-events-widget-events-list__event-title
                      tribe-common-h7
                    "
                  >
                    <a
                      href="#"
                      title="LaCo Ronde 5 Heren en Dames"
                      rel="bookmark"
                      class="
                        tribe-events-widget-events-list__event-title-link
                        tribe-common-anchor-thin
                      "
                    >
                      darten
                    </a>
                  </h3>
                </header>
              </div>
            </article>
          </div>
        </div>
        <div
          class="tribe-common-g-row tribe-events-widget-events-list__event-row"
        >
          <div
            class="
              tribe-events-widget-events-list__event-date-tag
              tribe-common-g-col
            "
          >
            <time
              class="tribe-events-widget-events-list__event-date-tag-datetime"
              datetime="2021-12-19"
            >
              <span
                class="tribe-events-widget-events-list__event-date-tag-month"
              >
                dec
              </span>
              <span
                class="
                  tribe-events-widget-events-list__event-date-tag-daynum
                  tribe-common-h2
                  tribe-common-h4--min-medium
                "
              >
                19
              </span>
            </time>
          </div>

          <div
            class="
              tribe-events-widget-events-list__event-wrapper
              tribe-common-g-col
            "
          >
            <article
              class="
                tribe-events-widget-events-list__event
                post-6228
                tribe_events
                type-tribe_events
                status-publish
                hentry
                tribe_events_cat-ranking
              "
            >
              <div class="tribe-events-widget-events-list__event-details">
                <header class="tribe-events-widget-events-list__event-header">
                  <div
                    class="
                      tribe-events-widget-events-list__event-datetime-wrapper
                      tribe-common-b2
                      tribe-common-b3--min-medium
                    "
                  >
                    <time
                      class="tribe-events-widget-events-list__event-datetime"
                      datetime="2021-12-19"
                    >
                      <span class="tribe-event-date-start">13:00</span> -
                      <span class="tribe-event-time">17:00</span>
                    </time>
                  </div>
                  <h3
                    class="
                      tribe-events-widget-events-list__event-title
                      tribe-common-h7
                    "
                  >
                    <a
                      href="#"
                      title="Ranking 6 DBA"
                      rel="bookmark"
                      class="
                        tribe-events-widget-events-list__event-title-link
                        tribe-common-anchor-thin
                      "
                    >
                      darten
                    </a>
                  </h3>
                </header>
              </div>
            </article>
          </div>
        </div>
        <div
          class="tribe-common-g-row tribe-events-widget-events-list__event-row"
        >
          <div
            class="
              tribe-events-widget-events-list__event-date-tag
              tribe-common-g-col
            "
          >
            <time
              class="tribe-events-widget-events-list__event-date-tag-datetime"
              datetime="2022-05-23"
            >
              <span
                class="tribe-events-widget-events-list__event-date-tag-month"
              >
                mei
              </span>
              <span
                class="
                  tribe-events-widget-events-list__event-date-tag-daynum
                  tribe-common-h2
                  tribe-common-h4--min-medium
                "
              >
                23
              </span>
            </time>
          </div>

          <div
            class="
              tribe-events-widget-events-list__event-wrapper
              tribe-common-g-col
            "
          >
            <article
              class="
                tribe-events-widget-events-list__event
                post-6244
                tribe_events
                type-tribe_events
                status-publish
                hentry
                tribe_events_cat-competitie
              "
            >
              <div class="tribe-events-widget-events-list__event-details">
                <header class="tribe-events-widget-events-list__event-header">
                  <div
                    class="
                      tribe-events-widget-events-list__event-datetime-wrapper
                      tribe-common-b2
                      tribe-common-b3--min-medium
                    "
                  >
                    <time
                      class="tribe-events-widget-events-list__event-datetime"
                      datetime="2022-05-23"
                    >
                      <span class="tribe-event-date-start"
                        >23 mei 2022 @ 08:00</span
                      >
                      -
                      <span class="tribe-event-date-end"
                        >27 mei 2022 @ 17:00</span
                      >
                    </time>
                  </div>
                  <h3
                    class="
                      tribe-events-widget-events-list__event-title
                      tribe-common-h7
                    "
                  >
                    <a
                      href="#"
                      title="Divisie kampioenschappen"
                      rel="bookmark"
                      class="
                        tribe-events-widget-events-list__event-title-link
                        tribe-common-anchor-thin
                      "
                    >
                      darten
                    </a>
                  </h3>
                </header>
              </div>
            </article>
          </div>
        </div>
        <div
          class="tribe-common-g-row tribe-events-widget-events-list__event-row"
        >
          <div
            class="
              tribe-events-widget-events-list__event-date-tag
              tribe-common-g-col
            "
          >
            <time
              class="tribe-events-widget-events-list__event-date-tag-datetime"
              datetime="2022-05-28"
            >
              <span
                class="tribe-events-widget-events-list__event-date-tag-month"
              >
                mei
              </span>
              <span
                class="
                  tribe-events-widget-events-list__event-date-tag-daynum
                  tribe-common-h2
                  tribe-common-h4--min-medium
                "
              >
                28
              </span>
            </time>
          </div>

          <div
            class="
              tribe-events-widget-events-list__event-wrapper
              tribe-common-g-col
            "
          >
            <article
              class="
                tribe-events-widget-events-list__event
                post-6240
                tribe_events
                type-tribe_events
                status-publish
                hentry
                tribe_events_cat-beker
              "
            >
              <div class="tribe-events-widget-events-list__event-details">
                <header class="tribe-events-widget-events-list__event-header">
                  <div
                    class="
                      tribe-events-widget-events-list__event-datetime-wrapper
                      tribe-common-b2
                      tribe-common-b3--min-medium
                    "
                  >
                    <time
                      class="tribe-events-widget-events-list__event-datetime"
                      datetime="2022-05-28"
                    >
                      <span class="tribe-event-date-start">12:00</span> -
                      <span class="tribe-event-time">19:00</span>
                    </time>
                  </div>
                  <h3
                    class="
                      tribe-events-widget-events-list__event-title
                      tribe-common-h7
                    "
                  >
                    <a
                      href="#"
                      title="darten"
                      rel="bookmark"
                      class="
                        tribe-events-widget-events-list__event-title-link
                        tribe-common-anchor-thin
                      "
                    >
                      darten
                    </a>
                  </h3>
                </header>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div
        class="
          tribe-events-widget-events-list__view-more
          tribe-common-b1
          tribe-common-b2--min-medium
        "
      >
      </div>
    </div>
  </div>
</div>